<div class="row-1">
  <div class="reservation-view reservation-show-width">
    <div class="user-view-box">
      <div class="update-content">
        <div class="row-1">
          <label class="label-column">予約した部屋</label>
            <%= @reservation.room.name%>
        </div>
      </div>
      <div class="update-content">
        <div class="row-1">
          <label class="label-column">開始日</label>
            <%= @reservation.start_date %>
        </div>
      </div>
      <div class="update-content">
        <div class="row-1">
          <label class="label-column">終了日</label>
            <%= @reservation.finish_date %>
        </div>
      </div>
      <div class="update-content">
        <div class="row-1">
          <label class="label-column">価格</label>
          <% total_cost = (@reservation.finish_date - @reservation.start_date).to_int %>
          <%= total_cost * @reservation.people_num * @reservation.room.cost %><text>円</text>
        </div>
      </div>
    </div>
  </div>
</div>
